In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
columns = ['Age', 'Weight','Height', 'Sex', 'Ethnicity', 
           'Region', 'Smoker', 'ph1', 'ph2', 'ph3',
           'fh1', 'fh2', 'fh3', 'dd1', 'dd2', 'dd3',
           'Chemotherapy', 'Radiotherapy', 'Surgery', 'Movement', 'Speech', 'Vision', 'Crisis'
          ]

In [4]:
df = pd.DataFrame(columns = columns)

In [5]:
df

Empty DataFrame
Columns: [Age, Weight, Height, Sex, Ethnicity, Region, Smoker, ph1, ph2, ph3, fh1, fh2, fh3, dd1, dd2, dd3, Chemotherapy, Radiotherapy, Surgery, Movement, Speech, Vision, Crisis]
Index: []

[0 rows x 23 columns]

In [17]:
df['Age'] = np.random.randint(50, 95, size=(1031,))
df['Weight'] = np.random.randint(50, 130, size=(1031,)) #in kgs
df['Height'] = np.random.randint(150, 200, size=(1031,)) #in cms
df['Sex'] = np.random.randint(0, 2, size=(1031))
df['Ethnicity'] = np.random.randint(0, 2, size=(1031))
df['Region'] = np.random.randint(0, 2, size=(1031))
df['Smoker'] = np.random.randint(0, 2, size=(1031))

df['ph1'] = np.random.randint(0, 2, size=(1031))
df['ph2'] = np.random.randint(0, 2, size=(1031))
df['ph3'] = np.random.randint(0, 2, size=(1031))

df['fh1'] = np.random.randint(0, 2, size=(1031))
df['fh2'] = np.random.randint(0, 2, size=(1031))
df['fh3'] = np.random.randint(0, 2, size=(1031))

df['dd1'] = np.random.randint(0, 2, size=(1031))
df['dd2'] = np.random.randint(0, 2, size=(1031))
df['dd3'] = np.random.randint(0, 2, size=(1031))


df['Chemotherapy'] = np.random.randint(0, 2, size=(1031))
df['Radiotherapy'] = np.random.randint(0, 2, size=(1031))
df['Surgery'] = np.random.randint(0, 2, size=(1031))
df['Movement'] = np.random.randint(0, 2, size=(1031))
df['Speech'] = np.random.randint(0, 2, size=(1031))
df['Vision'] = np.random.randint(0, 2, size=(1031))
df['Crisis'] = np.random.randint(0, 2, size=(1031))

In [18]:
df

,Age,Weight,Height,Sex,Ethnicity,Region,Smoker,ph1,ph2,ph3,...,dd1,dd2,dd3,Chemotherapy,Radiotherapy,Surgery,Movement,Speech,Vision,Crisis
0,76,106,198,0,1,0,0,0,1,1,...,1,0,0,0,1,1,0,0,0,1
1,69,82,152,1,1,0,0,0,0,0,...,1,0,1,1,1,1,1,0,1,0
2,65,107,162,1,0,1,1,0,1,0,...,0,1,1,0,1,1,0,1,0,1
3,65,109,181,0,0,1,0,1,1,1,...,1,1,0,1,1,0,1,1,1,0
4,59,74,193,1,1,0,0,0,1,0,...,0,0,1,1,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,65,81,157,1,1,0,1,0,1,1,...,0,1,0,0,1,0,0,0,0,1
1027,84,115,195,0,1,0,1,0,0,1,...,1,0,1,1,1,0,0,1,1,0
1028,94,102,165,0,1,0,1,0,1,1,...,1,1,0,0,0,1,1,1,0,1
1029,67,73,158,1,1,1,1,0,0,1,...,0,1,1,1,0,1,1,0,0,1
1030,61,90,168,0,0,0,1,1,1,1,...,0,1,1,1,1,0,1,1,0,1

In [19]:
df.to_csv('patients_data.csv', index=False)