In [2]:
import tensorflow as tf
import pandas as pd
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()

In [4]:
y_train.shape

(60000,)

In [26]:
odd = y_test % 2

In [27]:
gefive = (y_test >= 5)*1

In [28]:
odd

array([1, 0, 1, ..., 0, 1, 0], dtype=uint8)

In [29]:
gefive*1

array([1, 0, 0, ..., 0, 1, 1])

In [30]:
df = pd.DataFrame(columns=['odd', 'gefive'])

In [31]:
df['odd'] = pd.Series(odd)

In [32]:
df['gefive'] = pd.Series(gefive)

In [33]:
df

      odd  gefive
0       1       1
1       0       0
2       1       0
3       0       0
4       0       0
...   ...     ...
9995    0       0
9996    1       0
9997    0       0
9998    1       1
9999    0       1

[10000 rows x 2 columns]

In [34]:
df = df.join(pd.get_dummies(y_test))

In [35]:
df

      odd  gefive  0  1  2  3  4  5  6  7  8  9
0       1       1  0  0  0  0  0  0  0  1  0  0
1       0       0  0  0  1  0  0  0  0  0  0  0
2       1       0  0  1  0  0  0  0  0  0  0  0
3       0       0  1  0  0  0  0  0  0  0  0  0
4       0       0  0  0  0  0  1  0  0  0  0  0
...   ...     ... .. .. .. .. .. .. .. .. .. ..
9995    0       0  0  0  1  0  0  0  0  0  0  0
9996    1       0  0  0  0  1  0  0  0  0  0  0
9997    0       0  0  0  0  0  1  0  0  0  0  0
9998    1       1  0  0  0  0  0  1  0  0  0  0
9999    0       1  0  0  0  0  0  0  1  0  0  0

[10000 rows x 12 columns]

In [36]:
df.to_csv('mnist_test.csv', index=False)